body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p{
  line-height: 2;
}
.top-container {
  background-color: #8bcdcd;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  color: #db6400;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding: 10px;
}
H2{
color: #db6400;
}

h3 {
  color: #6a097d;
  font-family: 'Montserrat', sans-serif;

}
a{
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 40px 0;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.code-img{
  width: 25%;
  float: left;
  margin-left: 30px;
}
.youtube-img{
  width: 20%;
  float: right;
  margin-left: 30px;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 5%;
  margin: 100px auto;
}
.intro{
  width: 30%;
  margin: auto;
}
.middle-container{
  margin: 100px 0;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 40px;
}

.BUTTON_MFX {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 30px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.bottom-container{
  background-color: #8bcdcd;
  padding: 20px 0 20px;
}

.BUTTON_MFX:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

/*.second-div{
  background-color: blue;
  width: 200px;
  height: 200px;

}
.third-div{
  background-color: red;
  width: 200px;
  height: 200px;

}
